/* ResumeBody.module.css */
.container {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    line-height: 1.6;
    color: black;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section h2 {
    color: #1976d2;
    margin-bottom: 10px;
  }
  
  .section ul {
    list-style-type: square;
    margin-left: 20px;
  }
  
  .section li {
    margin-bottom: 10px;
  }
  